body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #597286;
}
.container {
    max-width: 800px;
    margin-top: 50px;
    background-color: #c4cdd1;
    padding: 20px;
    border: 1px solid #040303;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #364878;
}
h3 {
    color: #030407;
    text-indent: 280px;
}
#storiesList {
    margin-top: 30px;
}
.story {
    background-color: #f9f9f9;
    padding: 20px;
    border-bottom: 2px solid #ccc;
}
.story:last-child {
    border-bottom: none;
}
.btn{
    border-radius: 100px;
    background-color: rgb(95, 109, 142);
    width: 80px;
    height: 45px;
    border: 2px solid black;
    color: white;
    margin-right: 15px;
    margin-top: 15px;
}
.btn-edit{
    margin-left: 270px;
}
.btn:hover{
    background-color: #b0bbd6;
    cursor: pointer;
}