<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop Jewellery, Accessories, Hair, Beauty & More | Claire's</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../style.css">
  </head>
  <body>
    <!-- Header -->
    <div class="sticky-top">
      <div class="bg-white mb-3 pt-3">
        <div class="container">
          <div class="row align-items-center">
            <!-- Logo -->
            <div class="col-6 col-md-2">
              <img
                id="logo"
                src="../images/claires-logo.svg"
                alt="error loading logo"
                class="img-fluid"
              />
            </div>
            <!-- Search Bar -->
            <div class="col-9 col-md-6">
              <form id="searchbar" class="d-flex">
                <input
                  type="text"
                  id="search-input"
                  name="input-data"
                  placeholder="Search"
                  class="form-control w-100"
                />
              </form>
            </div>
            <!-- Shopping Cart Icon -->
            <div class="col-3 col-md-3 ps-5">
              <img
                id="shopping-cart"
                src="../images/cartIcon.webp"
                alt="Shopping Cart"
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Navigation Bar -->
      <nav class="navbar navbar-expand-lg">
        <button
          class="navbar-toggler bg-clr"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav text-white">
            <li class="nav-item">
              <a class="nav-link" href="#">Get Pierced</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Back To School</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Jewellery</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Hair</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Beauty</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Toys</a></li>
            <li class="nav-item">
              <a class="nav-link" href="#">Accessories</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Bags</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Gifts</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Trending</a></li>
            <li class="nav-item"><a class="nav-link" href="/admin">Admin Dashboard</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <!-- Offers Section -->
    <div class="container-fluid">
      <div class="row gx-1 text-center">
        <div class="col-12 col-md-6">
          <p class="bg-clr pt-2 py-3">
            FREE* PIERCING WITH PURCHASE OF STARTER KIT + <br />SAME-DAY 20% OFF
            VOUCHER <a href="">FIND MY STORE</a>
          </p>
        </div>
        <div class="col-12 col-md-6">
          <p class="bg-clr py-4">
            FREE SHIPPING ON £20+ FOR
            <a href=""> C.CLUB FRIENDS</a>
          </p>
        </div>
      </div>
    </div>

    <!-- Sale Tag Section -->
    <div class="container my-4">
      <div class="row sale-banner">
        <div class="col-12 col-md-6">
          <div class="text-center">
            <p class="text-white pt-4 fs-4">LAST CHANCE!</p>
            <img
              class="img-fluid"
              id="sale-img"
              src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dwba7cd703/homepage-images/FY2024/wk31/end-of-season.gif"
              alt="Sale Sale Sale"
            />
            <p class="text-white">Exclusions apply</p>
          </div>
        </div>
        <div class="col-12 col-md-6 py-4">
          <div class="text-center">
            <p class="text-white pt-4 fs-5 fw-bold">IN-STORE & ONLINE</p>
            <p class="text-white fs-4 fw-bold">5 for £10</p>
            <p class="text-white fs-4 fw-bold">All Sale</p>
            <div>
              <button class="btn mt-3 me-3">FIND MY STORE</button>
              <button class="btn mt-3">SHOP NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Halloween Tag Section -->
    <div class="container my-4">
      <div class="row halloween-banner">
        <div class="col-12 col-md-6 text-center">
          <p class="text-black pt-4 mb-2 lspacing">Online & In-Store</p>
          <p class="text-black fs-1 fw-bold mb-0">31% Off*</p>
          <span class="text-black d-block fs-1 fw-bold">Halloween</span>
          <span class="text-black d-block fs-1 fw-bold">Essentials</span>
          <button class="btn yellow-btn mt-3">SHOP NOW</button>
          <p class="text-black small mt-4">
            *Includes costumes, faux hair, dress up, Halloween accessories & all
            beauty
          </p>
        </div>
        <div class="col-12 col-md-6 ps-5">
          <img
            class="img-fluid halloween-img ms-5"
            src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dw566b2809/homepage-images/FY2024/wk32/hero-1-mb.png"
            alt="Claire's Halloween accessories"
          />
        </div>
      </div>
    </div>

    <!-- Cha-Ching Tag Section -->
    <div class="container my-4 cha-ching-banner">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 col-lg-6">
          <img
            src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dwf99165e5/homepage-images/FY2024/wk25/cha-ching.png"
            alt="Cha Ching!"
            class="img-fluid"
          />
        </div>
        <div class="col-12 col-md-6 col-lg-6 text-center mt-4 mt-md-0">
          <h2 class="text-black fw-bold">Shop New Lower Prices</h2>
          <h2 class="text-black fw-bold mb-4">In Every Store</h2>
          <div class="d-flex justify-content-center">
            <button class="btn yellow-btn me-3">SHOP NOW</button>
            <button class="btn yellow-btn">FIND MY STORE</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Hero Section -->
    <section class="hero-section text-center py-5 bg-white">
      <div class="container">
        <div class="row">
          <!-- Offer 1 -->
          <div class="col-12 col-md-6 mb-4">
            <div class="offer-box">
              <p class="text-muted">IN-STORE EXCLUSIVE</p>
              <h1>Buy 3<br />Get 3 Free*</h1>
              <p class="text-muted">Almost Everything</p>
              <button class="btn btn-custom">FIND MY STORE</button>
              <p class="text-muted small mt-3">Exclusions apply</p>
              <img
                class="offer-img img-fluid"
                src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dwbbde8cfe/homepage-images/FY2024/wk31/promo-1.jpg"
                alt="Claire's accessories"
              />
            </div>
          </div>
          <!-- Offer 2 -->
          <div class="col-12 col-md-6 mb-4">
            <div class="offer-box">
              <p class="text-muted">ONLINE EXCLUSIVE</p>
              <h1>Up To<br />50% Off*</h1>
              <p class="text-muted">Hair, Jewellery & Beauty</p>
              <button class="btn btn-custom">SHOP ALL</button>
              <p class="text-muted small mt-3">Exclusions apply</p>
              <img
                class="offer-img img-fluid"
                src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dw1d9b72e3/homepage-images/FY2024/wk31/promo-2.jpg"
                alt="Claire's accessories"
              />
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Category Boxes -->
    <section class="py-3">
      <div class="container text-center">
        <div class="row">
          <div class="col-6 col-md-2">
            <h6 class="category-box py-3 fw-bold">Jewellery</h6>
          </div>
          <div class="col-6 col-md-2">
            <h6 class="category-box py-3 fw-bold">Hair</h6>
          </div>
          <div class="col-6 col-md-2">
            <h6 class="category-box py-3 fw-bold">Beauty</h6>
          </div>
          <div class="col-6 col-md-2">
            <h6 class="category-box py-3 fw-bold">Bags</h6>
          </div>
          <div class="col-6 col-md-2">
            <h6 class="category-box py-3 fw-bold">Stationary</h6>
          </div>
          <div class="col-6 col-md-2">
            <h6 class="category-box py-3 fw-bold">Accessories</h6>
          </div>
        </div>
      </div>
    </section>

<!-- Aphmau Banner -->
<div class="container my-4">
  <div class="row align-items-center">
    <!-- Image Section -->
    <div class="col-12 col-md-6">
      <img
        class="img-fluid"
        src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dwfbbad506/homepage-images/FY2024/wk32/meemeow-dt.jpg"
        alt="Aphmau Banner"
      />
    </div>
    <!-- Text and Button Section -->
    <div class="col-12 col-md-6 text-center mt-4 mt-md-0">
      <h2 class="fw-bold text-black">Get In The Game</h2>
      <h5 class="text-black mb-4">
        Exclusive, new, & only-at-Claire's gear from Aphmau has arrived
      </h5>
      <button class="btn btn-custom3">SHOP NOW</button>
    </div>
  </div>
</div>



    <!-- Best Seller -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div
            class="best-seller-title d-flex align-items-center justify-content-between"
          >
            <img
              class="arrow-img"
              src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dw63f7cfa9/homepage-images/FY2024/wk24/purple-arrow.png"
              alt="Yellow Arrow"
            />
            <h3 class="ps-5 fw-bold">Best Sellers</h3>
            <img
              class="circle-img"
              src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dwa0d6326d/homepage-images/FY2024/wk24/circle-blue.png"
              alt="Blue Circle"
            />
            <p class="shop-all fw-bold">SHOP ALL</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Product Grid Section -->
    <div class="container mt-5">
      <div class="row">
        <div class="col-6 col-md-3 mb-4">
          <div class="product-card">
            <img
              class="prod-img img-fluid"
              src="https://www.claires.com/dw/image/v2/BBTK_PRD/on/demandware.static/-/Sites-master-catalog/default/dw4688051b/images/hi-res/52647_1.jpg?sw=290&amp;sh=290&amp;sm=fit"
              alt="Translucent Daisy Backpack"
            />
            <p>Translucent Daisy Backpack</p>
            <p><del>£35.00</del> <strong>£21.00</strong></p>
            <button class="btn btn-custom">ADD TO BAG</button>
          </div>
        </div>
        <div class="col-6 col-md-3 mb-4">
          <div class="product-card">
            <img
              class="prod-img img-fluid"
              src="https://www.claires.com/dw/image/v2/BBTK_PRD/on/demandware.static/-/Sites-master-catalog/default/dwd6e56414/images/hi-res/91130_1.jpg?sw=290&amp;sh=290&amp;sm=fit"
              alt="Rose Gold-tone Earrings"
            />
            <p>Rose Gold-tone 1" Filigree Earrings</p>
            <p><del>£8.00</del> <strong>£4.00</strong></p>
            <button class="btn btn-custom">ADD TO BAG</button>
          </div>
        </div>
        <div class="col-6 col-md-3 mb-4">
          <div class="product-card">
            <img
              class="prod-img img-fluid"
              src="https://www.claires.com/dw/image/v2/BBTK_PRD/on/demandware.static/-/Sites-master-catalog/default/dw1e843da9/images/hi-res/67156_1.jpg?sw=290&amp;sh=290&amp;sm=fit"
              alt="Big Sis & Little Sis Necklace"
            />
            <p>Big Sis & Little Sis Split Butterfly Necklace</p>
            <p><del>£12.00</del> <strong>£6.00</strong></p>
            <button class="btn btn-custom">ADD TO BAG</button>
          </div>
        </div>
        <div class="col-6 col-md-3 mb-4">
          <div class="product-card">
            <img
              class="prod-img img-fluid"
              src="https://www.claires.com/dw/image/v2/BBTK_PRD/on/demandware.static/-/Sites-master-catalog/default/dw68885bfe/images/hi-res/73127_1.jpg?sw=290&amp;sh=290&amp;sm=fit"
              alt="Star Sequin Hair Bow Clips"
            />
            <p>Star Sequin Hair Bow Clips - 6 Pack</p>
            <p><del>£5.50</del> <strong>£2.75</strong></p>
            <button class="btn btn-custom">ADD TO BAG</button>
          </div>
        </div>
      </div>
    </div>

    <!--Best Seller-->
    <div class="container mt-5">
      <div class="col-md-12">
        <div class="best-seller-title">
          <div>
            <img
              class="arrow-img"
              src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dw63f7cfa9/homepage-images/FY2024/wk24/purple-arrow.png"
              data-src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dw63f7cfa9/homepage-images/FY2024/wk24/purple-arrow.png"
              alt="Yellow Arrow"
            />
          </div>
          <div><h3 class="ps-5 fw-bold">New In Brands</h3></div>
          <div>
            <img
              class="circle-img"
              src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dwa0d6326d/homepage-images/FY2024/wk24/circle-blue.png"
              data-src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dwa0d6326d/homepage-images/FY2024/wk24/circle-blue.png"
              alt="Blue Circle"
            />
          </div>
          <div><p class="shop-all fw-bold">SHOP ALL</p></div>
        </div>
      </div>
    </div>

    <!-- Brands Section -->
    <div class="container mt-5">
      <div class="row">
        <div class="col-6 col-md-4 col-lg-2 mb-4 d-flex justify-content-center">
          <img
            class="brands-imgs img-fluid"
            src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dw9bc33e60/homepage-images/FY2024/wk08/wed/hello-kitty.jpg"
            alt="Hello Kitty"
          />
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-4 d-flex justify-content-center">
          <img
            class="brands-imgs img-fluid"
            src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dw08c7ffe1/homepage-images/FY2024/wk08/wed/squishmallows.jpg"
            alt="Original Squishmallows"
          />
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-4 d-flex justify-content-center">
          <img
            class="brands-imgs img-fluid"
            src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dw204a85bc/homepage-images/FY2024/wk08/wed/pusheen.jpg"
            alt="Pusheen"
          />
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-4 d-flex justify-content-center">
          <img
            class="brands-imgs img-fluid"
            src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dwc40ca2b7/homepage-images/FY2024/wk08/wed/stitch.jpg"
            alt="Disney Stitch"
          />
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-4 d-flex justify-content-center">
          <img
            class="brands-imgs img-fluid"
            src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dwfbfd4c4b/homepage-images/FY2024/wk23/wednesday.jpg"
            alt="Wednesday"
          />
        </div>
      </div>
    </div>

    <!--Text Section -->
    <section class="text-center my-5">
      <h1 class="fw-bold">#Claires</h1>
      <p>
        Join the squad by tagging #Claires on Instagram for the chance to be
        featured!
      </p>
      <a href="#" class="view-gallery">View Gallery</a>
    </section>

    <!-- Gallery Images Section -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-6 col-md-3 mb-4">
            <img
              src="https://edge.curalate.com/v1/img/zMzsUMIzJ-Mn2kmcYsD0J2y4768CU09oQMSXT3iIUq4=/sc/450x450?typ=webp"
              alt="Image1"
              class="img-fluid"
            />
          </div>
          <div class="col-6 col-md-3 mb-4">
            <img
              src="https://edge.curalate.com/v1/img/H9rbFB0wHJnfJdclTp4Gdp_MILn1vIvHctMaW-Qi_7A=/sc/450x450?typ=webp"
              alt="Image2"
              class="img-fluid"
            />
          </div>
          <div class="col-6 col-md-3 mb-4">
            <img
              src="https://edge.curalate.com/v1/img/zKx50oUarvycgRU7C0hNo2BvpKNcyV2-C51T0v7oKOE=/sc/450x450?typ=webp"
              alt="Image3"
              class="img-fluid"
            />
          </div>
          <div class="col-6 col-md-3 mb-4">
            <img
              src="https://edge.curalate.com/v1/img/QYSw3a0ypxPrAvVRKPlIwf__jRmpREsDBOK_7ZeoMbE=/sc/450x450?typ=webp"
              alt="Image4"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </section>

    <!-- Footer Section -->
    <footer class="footer text-center text-md-start">
      <div class="container">
        <div class="row">
          <!-- Feedback Button and Connect Section -->
          <div class="col-12 col-md-4 mb-4">
            <button class="btn btn-custom4 mb-3">SHARE FEEDBACK</button>
            <h6 class="fw-bold">Let's Connect</h6>
            <p>
              Join us via text & email to unlock <strong>10% OFF*</strong> plus
              so much more!
            </p>
            <button class="btn btn-custom3 mb-2">I WANT IN</button>
            <p>
              *Exclusions apply – see email for full list. Offer is valid for
              full price purchases only and cannot be combined.
            </p>
            <h6 class="fw-bold">Connect With Us</h6>
            <div class="d-flex flex-row">
              <ul class="social-links d-flex ps-0">
                <li>
                  <a href=""
                    ><img
                      src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dw10648503/assets/images/instagram-icon.png"
                      alt="instagram"
                  /></a>
                </li>
                <li>
                  <a href=""
                    ><img
                      src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dw32a22481/assets/images/Pinterest-Icon.png"
                      alt="Pintrest"
                  /></a>
                </li>
                <li>
                  <a href=""
                    ><img
                      src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dw95c742c9/assets/images/TikTok-icon.png"
                      alt="TikTok"
                  /></a>
                </li>
                <li>
                  <a href=""
                    ><img
                      src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dw8d809688/assets/images/Youtube-icon.png"
                      alt="YouTube"
                  /></a>
                </li>
                <li>
                  <a href=""
                    ><img
                      src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dw56dfd91e/assets/images/Facebook-icon.png"
                      alt="Facebook"
                  /></a>
                </li>
                <li>
                  <a href=""
                    ><img
                      src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dwdd124cd8/assets/images/Twitter-icon.png"
                      alt="Twitter"
                  /></a>
                </li>
              </ul>
            </div>
            <p><a href="">*EXCLUSIONS APPLY - SEE DETAILS</a></p>
          </div>

          <!-- Help Section -->
          <div class="col-12 col-md-2 mb-4">
            <h6 class="ps-5">HELP</h6>
            <ul>
              <li><a href="#">Track My Order</a></li>
              <li><a href="#">Delivery Information</a></li>
              <li><a href="#">Click & Collect</a></li>
              <li><a href="#">FAQs</a></li>
              <li><a href="#">Return Policy</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Store Locator</a></li>
              <li><a href="#">Promotions</a></li>
              <li><a href="#">Gift Cards</a></li>
              <li><a href="#">Site Map</a></li>
            </ul>
          </div>

          <!-- About Us Section -->
          <div class="col-12 col-md-3 mb-4">
            <h6 class="ps-4">ABOUT US</h6>
            <ul>
              <li><a href="#">Corporate Info</a></li>
              <li><a href="#">Claire's Careers</a></li>
              <li><a href="#">Affiliate Program</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Accessibility Statement</a></li>
              <li><a href="#">Gender Pay Gap Reports</a></li>
              <li><a href="#">Student Discount Program</a></li>
            </ul>
          </div>

          <!-- Download App Section -->
          <div class="col-12 col-md-3 mb-4 text-md-end download-icons">
            <h6>DOWNLOAD THE CLAIRE'S APP</h6>
            <img
              class="google-play"
              alt="google play"
              src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dwfc0d6133/static-assets/google-play.png"
            />
            <img
              class="app-store"
              alt="apple store"
              src="https://www.claires.com/on/demandware.static/-/Library-Sites-claires-library/default/dwfd7d970f/static-assets/apple.png"
            />
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap JS Link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
