<form>
    <div class="form-group">
        <label for="productId">Product ID</label>
        <input type="text" class="form-control mt-2 mb-3" id="productId" placeholder="Enter product ID">
    </div>
    
    <div class="form-group">
        <label for="productName">Product Name</label>
        <input type="text" class="form-control mt-2 mb-3" id="productName" placeholder="Enter product name">
    </div>
    
    <div class="form-group">
        <label for="productDescription">Description</label>
        <textarea class="form-control mt-2 mb-2" id="productDescription" rows="3" placeholder="Enter product description"></textarea>
    </div>
    
    <div class="form-group">
        <label for="productPrice">Price</label>
        <input type="number" class="form-control mt-2 mb-3" id="productPrice" placeholder="Enter product price">
    </div>
    
    <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>
